# Virtual environment
venv/
env/

# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
